* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
  height: 100vh;
}

.invert {
  filter: invert(70%);
}

#app {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.color-name {
  font-size: 3rem;
  font-weight: 800;
}

#color-comp {
  margin-top: 1rem;
}

.color-box {
  height: 40px;
  width: 100px;
}

#color-hex {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 10px;
  background: transparent;
  transition: background 100ms ease;
}

#color-hex:active {
  background: rgba(255, 255, 255, 0.151);
}

#color-rgb {
  font-size: 2rem;
  cursor: pointer;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 10px;
  background: transparent;
  transition: background 100ms ease;
}

#color-rgb:active {
  background: rgba(255, 255, 255, 0.151);
}

@media (hover: hover) {
  #color-hex:hover {
    background: rgba(255, 255, 255, 0.151);
  }
  #color-rgb:hover {
    background: rgba(255, 255, 255, 0.151);
  }
}

.tooltip {
  opacity: 0;
  margin-top: auto;
  margin-bottom: 10px;
  transition: opacity 100ms ease;
  font-size: 0.8rem;
  margin-left: 10px;
}

footer {
  opacity: 0;
  margin-top: 2rem;
  font-size: 0.8rem;
}

footer a {
  color: inherit;
}
